/* eslint-disable react/prop-types */

{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
  },
  "settings": {
    // import/resolver` 는 `eslint-plugin-import` 의 경로 설정 옵션
    "import/resolver": {
      "node": {
        "paths": ["src"],
      },
    },
  },
  "rules": {
    "prettier/prettier": ["error"],
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/function-component-definition": [
      2,
      { "namedComponents": ["arrow-function", "function-declaration"] },
    ],
    "react/prop-types": "off",
    "prefer-const": "error",
  },
}
